<div class="row justify-content-md-center py-5">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<div class="text-center mb-4">
					<img class="mb-4" src="../../../assets/img/bootstrap-solid.svg" alt="" width="72" height="72">
					<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
					<p>Build form controls with floating labels via the</p>
				</div>
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
							else.</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check me out</label>
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
			</div>
		</div>

	</div>
</div>